Package: com.rainbowdev.respringalert
Name: RespringAlert
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rainbowfied Developer
Author: Rainbowfied Developer
Section: Tweaks
